<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<footer class="footer">
    <div class="footer-grid">
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p><i class="fas fa-phone-alt"></i>     +91 7708254885</p>
            <br>
            <h3>Address</h3>
            <i class="fas fa-map-marked-alt"></i>
            <p>304, 3rd floor, Tower 7, Esplanade apartment, vaithiyanathan street, Tondiarpet , Chennai -600081</p>
        </div>
        <div class="footer-section">
            <h3>Follow Us</h3>
            <ul class="social-icons">
                <li><a href="#"><i class="fab fa-facebook"></i> Adoracrafts</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> Adoracrafts</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Adoracrafts</a></li>
            </ul>
        </div>        
        <div class="footer-section">
            <h3>Categories</h3>
            <ul>
                <li><a href="#">Jewelry</a></li>
                <li><a href="#">Ceramics</a></li>
                <li><a href="#">Textiles</a></li>
                <li><a href="#">Wood Crafts</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Customer Service</h3>
            <ul>
                <!-- <li><a href="#">Contact Us</a></li> -->
                <li><a href="static/documents/Adoracrafts Privacy Policy.pdf" target="_blank">Privacy Policy</a></li>
                <li><a href="static/documents/Adoracrafts Terms & Conditions.pdf" target="_blank">Terms & Conditions</a></li>
                <li><a href="static/documents/Adoracrafts Shipping Policy.pdf" target="_blank">Shipping Policy</a></li>
                <li><a href="static/documents/Adoracrafts Returns & Exchange Policy.pdf" target="_blank">Returns & Exchanges</a></li>
                <li><a href="static/documents/Adoracrafts FAQ.pdf" target="_blank">FAQ</a></li>
            </ul>
        </div>
        <!-- <div class="footer-section">
            <h3>Newsletter</h3>
            <p>Subscribe to receive updates and special offers.</p>
            <div class="newsletter-form">
                <input type="email" placeholder="Your email">
                <button>Subscribe</button>
            </div>
        </div> -->
    </div>
</footer>